# Python
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment variables
.env
.env.local

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
.DS_Store

# RAG Data (Giữ lại backend/data/raw nhưng bỏ qua chroma_db vì nó rất nặng, người khác tải về có thể chạy script ingest_data để tự tạo lại)
backend/data/chroma_db/
